img {max-width:100%}

.container.vibu-container-full-width {width:100%;max-width:100%;margin-left:auto;margin-right:auto;}
.container.vibu-container-wide {width:1164px;max-width:100%;margin-left:auto;margin-right:auto;}
